<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
          <div>
            <div class="search">
              <h1>Cooking Book</h1>
              <input id="mysearch" name="search-item" type="text"
                placeholder="">
              <button id="search">Search</button>
            </div>
            <div class="submenu">
              <a id="load-recipes">My recipes</a>
            </div>
          </div>


        <div id="post">

        </div>

        <script src="static/scripts/recipes.js"></script>
      </body>
    </html>
